/*
* ANIMATIONS
*/
.pollution-warning-display {
    opacity: 0;
    transition-duration: 500ms;
}

.pollution-warning-display.show {
    opacity: 1;
}

.advertisement {
    opacity: 0;
    transition-duration: 500ms;
}

.advertisement.show {
    opacity: 1;
}

.animate {
    opacity: 1;
    transition-duration: 1000ms;
}

.animate.hide {
    opacity: 0;
}

.animate-2 {
    opacity: 1;
    transition-duration: 500ms;
    max-height: 850px;
}

.animate-2.hide-2 {
    max-height: 87px;
    opacity: 0;
}

/*
* LOADER
*/
.loading .mt-6 {
    margin-top: 1360px;
}

.loading .spinner-grow {
    height: 128px;
    width: 128px;
}

/*
* LOGO
*/
.logo img {
    margin-top: 100px;
}

/*
* FACE-IMAGE
*/
.face-image img {
    height: 600px;
    width: 600px;
    margin-top: 120px;
    margin-bottom: 60px;
}

/*
* DESCRIPTION
*/
.desc h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 108px;
}

/*
* ADVICE
*/
.advice h5 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 72px;
    margin-top: 10px;
    margin-bottom: 0;
}

/*
* CLOCK
*/
.clock h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 340px;
    letter-spacing: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

/*
* DATE
*/
.date h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 108px;
    margin-bottom: 60px;
    letter-spacing: 3px;
}

/*
* TEMPERATURE, HUMIDITY, PRESSURE
*/
.weather-values {
    margin-top: 20px;
}

.weather-values img {
    height: 240px;
    width: 240px;
}

.weather-values h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 86px;
    margin-top: 40px;
    margin-bottom: 0;
}

/*
* FOOTER
*/
.footer {
    margin-top: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 48px;
}

.footer svg {
    margin-top: -4px;
    height: 22px;
}

/*
* CREDITS
*/
#credits a {
    display: none;
}

/*
* LOGIN
*/
.login {
    margin-top: 35vh;
}
