# dependencies
/client/node_modules/*
/client/package-lock.json
/servers/fetch-data/node_modules/*
/servers/fetch-data/package-lock.json
/servers/serve-data/node_modules/*
/servers/serve-data/package-lock.json

# production
/client/build/*
/servers/fetch-data/build/*
/servers/serve-data/build/*

#logs
/servers/serve-data/logs
/servers/fetch-data/logs

# ide
/.idea/*
