.face-image {
    height: 625px;
}

.face-image img {
    height: 480px;
    width: 480px;
    margin-top: 80px;
    margin-bottom: 65px;
}

.desc {
    height: 84px;
}

.desc h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 72px;
    margin-bottom: 25px;
}

.advice {
    height: 250px;
}

.advice h5 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 64px;
    margin-bottom: 0;
}

.clock h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 240px;
    letter-spacing: 20px;
    margin-top: 80px;
    margin-bottom: 0;
}

.date h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 96px;
    margin-bottom: 110px;
    letter-spacing: 3px;
}

.weather-values {
    height: 307px;
}

.weather-values img {
    height: 180px;
    width: 180px;
}

.weather-values h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 72px;
    margin-top: 40px;
    margin-bottom: 0;
}

.copyrights h5 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 20px;
}

.copyrights svg {
    height: 20px;
    margin-top: -4px;
}

#credits a {
    display: none;
}

.animate {
    opacity: 1;
    transition-duration: 1000ms;
}

.animate.hide {
    opacity: 0;
}
